<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<head>
<title>Empowered HR Portal</title>
</head>
<body>
    <div class="forgotBox" th:fragment="forgot">
        <button class="forgotBox-close">&#10006;</button>
        <h2>Forgot password?</h2>
        <p>To reset your password, please enter the username associated with your account. We'll send an email with
            further instructions.</p>
        <label for="username">Username:</label><br> <input class="forgotBox-text" type="text" id="username" name="username"></input><br>
        <input type="submit" class="forgotBox-submit" value="Send">
    </div>
</body>
</html>